<div class="container pt-10">
  <div class="row">
    <div class="col-sm d-flex justify-content-center align-items-start landingText mr-10">
      <div class="col ml-3">
        <div>
          <p class="text-start">
            <span class="title"><strong>SoftParadigm</strong>, your path for success</span><br />
            <span class="subtitle"># Advanced Digital & E-Commerce Player</span>
          </p>
          <div class="progress">
            <div class="progress-bar warning" style="width: 30%"></div>
          </div>
          <br>
          <div class="progress">
            <div class="progress-bar success" style="width: 40%"></div>
          </div>
          <br>
          <div class="progress">
            <div class="progress-bar danger" style="width: 50%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm d-flex justify-content-center">
      <img src="assets/img/mongo.png" width="160" height="150" style="margin-top: 25%" alt="MongoDB Logo"/>
    </div>
    <div class="col-sm d-flex justify-content-center">
      <img src="assets/img/elastic.png" width="180" height="140" style="margin-top: 25%" alt="elasticsearch Logo"/>
    </div>
    <div class="col-sm d-flex justify-content-center">
      <img src="assets/img/jwt.png" width="160" height="150" style="margin-top: 25%" alt="jwt Logo"/>
    </div>
  </div>
</div>
