<div class="container pt-10" style="margin-top: 8%">
    <div class="row">
      <div
        class="
          col-sm
          d-flex
          justify-content-center
          align-items-start
          landingText
          mr-10
        "
      >
        <div class="col ml-3">
          <div>
            <p class="text-start">
              <span style="font-size: 28pt"
                ><strong>SoftParadigm</strong>, your path for success</span
              ><br />
              <span style="font-size: 18pt">
                # Advanced Digital & E-Commerce Player</span
              >
            </p>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 30%"></div>
            </div>
<br>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 40%"></div>
            </div>
            <br>

            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 50%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm d-flex justify-content-center">
        <img
          src="assets/img/mongo.png"
          width="120"
          height="140"
          style="margin-top: 25%"
        />
      </div>
      <div class="col-sm d-flex justify-content-center">
        <img
          src="assets/img/elastic.png"
          width="160"
          height="130"
          style="margin-top: 25%"
        />
      </div>
      <div class="col-sm d-flex justify-content-center">
        <img
          src="assets/img/jwt.png"
          width="160"
          height="130"
          style="margin-top: 25%"
        />
      </div>
    </div>
  </div>
  