<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                            <p class="text-white-50 mb-5">Please complete your information</p>

                            <form [formGroup]="signupForm" (ngSubmit)="signup()">
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-outline form-white">
                                            <label class="form-label" for="name">Name</label>
                                            <input formControlName="name" type="text" id="name" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline form-white">
                                            <label class="form-label" for="cin">CIN</label>
                                            <input formControlName="cin" type="text" id="cin" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-outline form-white">
                                            <label class="form-label" for="age">Age</label>
                                            <input formControlName="age" ype="number" id="age" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline form-white">
                                            <label class="form-label" for="skills">Address</label>
                                            <input formControlName="address" type="text" id="skills" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-md-12">
                                        <div class="form-outline form-white">
                                            <label class="form-label" for="address">Email</label>
                                            <input formControlName="email" type="email" id="address" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-outline form-white">
                                            <label class="form-label" for="username">Username</label>
                                            <input formControlName="username" type="text" id="age" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline form-white">
                                            <label class="form-label" for="skills">Password</label>
                                            <input formControlName="password" type="password" id="skills" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>